.lab-topics-panel {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between tiles */
    padding: 20px; /* Optional padding around the grid */
    justify-items: center; /* Center tiles horizontally */
    align-items: center; /* Center tiles vertically */
}

* {
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    color: aliceblue;
}

.main-bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 12;
    background: radial-gradient(
        circle,
        rgba(255, 200, 250, 0.1),
        rgba(255, 100, 200, 0)
      );
        box-shadow: 0 0 15px rgba(255, 150, 230, 0.5),
        0 0 20px rgba(255, 170, 255, 0.4), 0 0 60px rgba(255, 130, 220, 0.3);
        backdrop-filter: blur(3px);
    animation: mainBubbleGlow 4s ease-in-out infinite;
    color: #ffffff;
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

@keyframes mainBubbleGlow {

    0%,
    100% {
        box-shadow: 0 0 20px rgba(255, 150, 230, 0.5),
            0 0 10px rgba(255, 170, 255, 0.4), 0 0 80px rgba(255, 130, 220, 0.3);
    }

    50% {
        box-shadow: 0 0 30px rgba(255, 150, 230, 0.8),
            0 0 20px rgba(255, 170, 255, 0.6), 0 0 100px rgba(255, 130, 220, 0.5);
    }
}