* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevent scrolling */
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Remove scrolling */
}

/* Main container */
.launch-lab-container {
  position: relative;
  display: flex;
  justify-content: space-between; /* Align panes side by side */
  align-items: stretch; /* Ensure both panes stretch to full height */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 100%; /* Ensure it spans the entire screen width */
  height: 100vh; /* Full viewport height */
  gap: 0; /* No gap between panes */
  overflow: hidden; /* Prevent overflow */
}

/* Content container */
.launch-lab-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1; /* Ensure the content stays on top of the particles */
  box-sizing: border-box; /* Prevent overflow */
}

/* Left Pane Styling */
/* Left Pane Styling */
.left-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%; /* Left pane takes 65% of the width */
  height: 100%; /* Full height */
  background-color: #000; /* Black background */
  padding: 0; /* No padding */
  margin: 0; /* No margin */
}

/* Right Pane Styling */
.right-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%; /* Right pane takes remaining 35% of the width */
  height: 100%; /* Full height */
  background-color: #fff; /* White background */
  padding: 0; /* No padding */
  margin: 0; /* No margin */
}
