/* src/index.css */

/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-dark);
    /* Background color for the entire page */
    color: white;
    /* Text color */
}

/* Apply global styles like background color, general fonts, etc. */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* General layout settings */
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}