/* src/index.css */

/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #0a151b;
    color: white;
}

/* Apply global styles like background color, general fonts, etc. */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* General layout settings */
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Common icon styles */
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Fix SVG icons to use currentColor for consistency */
svg {
    color: currentColor;
    fill: currentColor;
    vertical-align: middle; 
}

/* Only fill none when explicitly set */
svg[fill="none"] {
    fill: none;
}